.App {
  text-align: center;
}

.adminHomeBackground{
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://cdn.pixabay.com/photo/2019/05/12/22/55/judge-4199434_640.jpg');
    min-height: 100vh;
    background-position: center;
    background-position: bottom;
    background-size: cover;
}
.noUnderline{
    text-decoration: none;
}



