.App {
  text-align: center;
}

.adminHomeBackground{
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://cdn.pixabay.com/photo/2019/05/12/22/55/judge-4199434_640.jpg');
    min-height: 100vh;
    background-position: center;
    background-position: bottom;
    background-size: cover;
}
.noUnderline{
    text-decoration: none;
}

.blackBackground{
    background: black;
    min-height: 100vh;
}

.transparentBackground{
    background: transparent;
}
.centrallyAligned{
    margin-left: auto;
    margin-right: auto;
}

.studentHomeBackground{
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('https://cdn.pixabay.com/photo/2017/02/09/11/40/school-2051712_960_720.jpg');
    min-height: 100vh;
    background-position: center;
    background-position: center;
    background-size: cover;
}

.facultyHomeBackground{
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('https://cdn.pixabay.com/photo/2013/06/24/09/32/physics-140901_960_720.jpg');
    min-height: 100vh;
    background-position: center;
    background-position: center;
    background-size: cover;
}



